
<h1 class="mt-4">Dashboard</h1>

<p class="lead mb-3">
  Welcome <%= mongoData.user.name %> 
</p>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link active"
      id="proposal-tab"
      data-toggle="tab"
      href="#proposal"
      role="tab"
      aria-controls="proposal"
      aria-selected="true"
      >Proposal</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="inprogress-tab"
      data-toggle="tab"
      href="#inprogress"
      role="tab"
      aria-controls="inprogress"
      aria-selected="false"
      >InProgress</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="sold-tab"
      data-toggle="tab"
      href="#sold"
      role="tab"
      aria-controls="sold"
      aria-selected="false"
      >Sold</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="cancel-tab"
      data-toggle="tab"
      href="#cancel"
      role="tab"
      aria-controls="cancel"
      aria-selected="false"
      >Canceld</a
    >
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div
    class="tab-pane fade show active"
    id="proposal"
    role="tabpanel"
    aria-labelledby="proposal-tab"
  >
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Mail</th>
          <th scope="col">Prod</th>
          <th scope="col">Trans</th>
        </tr>
      </thead>
      <tbody>
        <%mongoData.proposal.forEach(element=>{%>
        <tr>
          <th scope="row">1</th>
          <td><%=element.Vorname%></td>
          <td><%=element.Name%></td>
          <td><%=element.Email%></td>
          <td><%=element.ProductName%></td>
          <td>
            <select class="form-control match-content" name="status" id=<%=element._id%>>
              <option selected="">Proposal</option>
              <option>In Bearbeitung</option>
              <option>Cancel</option>
            </select>
          </td>
        </tr>
        <%});%>
      </tbody>
    </table>
  </div>
  <div
    class="tab-pane fade"
    id="inprogress"
    role="tabpanel"
    aria-labelledby="inprogress-tab"
  >
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Mail</th>
          <th scope="col">Prod</th>
          <th scope="col">Trans</th>
        </tr>
      </thead>
      <tbody>
        <%mongoData.inprogress.forEach(element=>{%>
        <tr>
          <th scope="row">1</th>
          <td><%=element.Vorname%></td>
          <td><%=element.Name%></td>
          <td><%=element.Email%></td>
          <td><%=element.ProductName%></td>
          <td>
            <select class="form-control match-content"name="InProgresStatus"id=<%=element._id%>>
              <option selected="">In Bearbeitung</option>
              <option>Verkauft</option>
              <option>Abgebrochen</option>
            </select>
          </td>
        </tr>
        <%});%>
      </tbody>
    </table>
  </div>
  <div
    class="tab-pane fade"
    id="sold"
    role="tabpanel"
    aria-labelledby="sold-tab"
  >
  <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Mail</th>
            <th scope="col">Prod</th>
            <th scope="col">Trans</th>
          </tr>
        </thead>
        <tbody>
          <%mongoData.sold.forEach(element=>{%>
          <tr>
            <th scope="row">1</th>
            <td><%=element.Vorname%></td>
            <td><%=element.Name%></td>
            <td><%=element.Email%></td>
            <td><%=element.ProductName%></td>
            <td>
              <select class="form-control match-content"id=<%=element._id%>>
                <option selected="">Verkauft</option>
              </select>
            </td>
          </tr>
          <%});%>
        </tbody>
      </table>
  </div>
  <div
    class="tab-pane fade"
    id="cancel"
    role="tabpanel"
    aria-labelledby="cancel-tab"
  >
  <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Mail</th>
            <th scope="col">Prod</th>
            <th scope="col">Trans</th>
          </tr>
        </thead>
        <tbody>
          <%mongoData.cancel.forEach(element=>{%>
          <tr>
            <th scope="row">1</th>
            <td><%=element.Vorname%></td>
            <td><%=element.Name%></td>
            <td><%=element.Email%></td>
            <td><%=element.ProductName%></td>
            <td>
              <select class="form-control match-content"id=<%=element._id%>>
                <option selected="">Abgebrochen</option>
              </select>
            </td>
          </tr>
          <%});%>
        </tbody>
      </table>
  </div>
</div>
<a class="btn btn-primary" onclick="save()">save</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="/js/tablesystem.js"></script>